<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
  }
  .navbar-collapse{
    z-index: 1;
    background-color: white;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-white border-bottom sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav mb-2 mb-sm-0">
        <a class="nav-link text-center" href="/listings">Explore</a>
        <a class="nav-link text-center" href="/listings/new">New</a>
      </div>

      <div class="navbar-nav ms-md-auto mb-2 mb-sm-0">
        <form class="d-flex" role="search" method="get" action="/listings/search">
          <input
            class="form-control me-2 search-inp"
            type="search"
            name="q"
            placeholder="Search destinations"
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-md-auto mb-1 mb-sm-0">
        
        <% if(currUser){ %>
        <a class="ms-sm-2 nav-link btn logout-btn mb-2 mb-sm-0" href="/logout">Logout</a>
        <%} else { %>
        <a class="ms-sm-2 btn btn-outline-dark mb-2 mb-sm-0" href="/signup">SignUp</a>
        <a class="btn login-btn ms-sm-2 mb-2 mb-sm-0" href="/login">Login</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
