<% layout('layouts/boilerplate.ejs') %>
<div class="row justify-content-center  mt-4">
    <div class="card col-8 border">
        <div class="row">
            <img class="card-img-top error-img col-6" src="images/error.gif"  alt="error-img">
        </div>
        <div class="card-body mb-4 px-4">
            <h5 class="card-title">Something went wrong</h5>
            <p class="alert alert-danger"><%= message %></p>
            <a href="/listings" class="btn btn-outline-danger">Home</a>
        </div>
    </div>
</div>
